<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="footer">
    <div class="width-1024">
        <div class="footer-model">
            <a>
                <img th:src="@{/images/Logo.png}" style="max-width: 150px;height: auto;margin: 0 auto;
    display: block;">
            </a>
        </div>
        <div class="footer-model" style="color: white">
            <p>	PIU</p>
            <p>技术为第一目标！</p>
            <p>Email : <a href="#">m13935385051@163.com</a></p>
            <p>Phone : <a href="#">还是发邮件吧</a></p>
            <p>简介 :&nbsp;<a href="#" target="_blank" rel="noopener">一个专注于大学生的社区</a></p>

        </div>
        <div class="footer-model">
            <h3 style="color: #c5c5c5;text-transform: uppercase;font-size: 16px;">反馈使用报告(暂未开通)</h3>
            <section>
                <p style="color: #c5c5c5;">
                  	反馈信息：
                </p>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="submit" value="感谢您的提交" style="background-color: #08aba6;color:white">
                </div>
            </section>
        </div>
    </div>
</div>
</body>

</html>
