<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
		<style>
			.error{
				color:red;
				float: right;
			}
		</style>
</head>
<body class="back">
	<div class="two_cover" style="height: 500px;"></div>
	<div class="two" style="height: 500px;" th:insert="@{base/header} :: html"></div>
	<div class="setting">
			<div class="manage_content safe_content" style="margin: 0px auto;">
				<form id="commentForm" th:action="@{/user/settings/retrievePassword}" th:method="post" >
					<div class="field" th:if="${message} != null and ${message} != ''">
						<h1 th:text="${message}" style="color: red"></h1>
					</div>
						<div class="field">
							<label>邮箱</label> <br /> <input type="email" id="email" name="email"/>
						</div>
						<div class="field">
							<label>验证码</label> <br /> <input type="text" id="captcha" name="captcha"/>
							<button style="position: relative;left: 430px;top: -45px;" type="button" onclick="sendCaptcha()">发送</button>
						</div>
						<div class="field" style="text-align: center;margin-top: 40px;">
							<button class="settings-button" type="submit">下&nbsp;&nbsp;一&nbsp;&nbsp;步</button>
						</div>
				</form>
			</div>
			
		</div>

	<div th:replace="@{base/footer} :: html"></div>
</body>
<script th:src="@{/jquery-validation-1.19.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{/jquery-validation-1.19.0/dist/localization/messages_zh.js}"></script>
<script th:inline="javascript">
				$(function(){
					// 在键盘按下并释放及提交后验证提交表单
					  $("#commentForm").validate({
						    rules: {
						      captcha: {
						      	required: true,
						        remote: {
										    url: "[(@{/user/settings/isRealCaptcha})]",     //后台处理程序
										    type: "post",               //数据发送方式
										    dataType: "text",           //接受数据格式   
										    data: {                     //要传递的数据
										        captcha: function() {
										            return $("#captcha").val();
										        }
										    }
										}
						      },
						      email : {
						      	required : true,
						      	email:true,
						      	remote: {
										    url: "[(@{/user/forgotPassword/getUsername})]",     //后台处理程序
										    type: "post",               //数据发送方式
										    dataType: "text",           //接受数据格式   
										    data: {                     //要传递的数据
										        email: function() {
										            return $("#email").val();
										        }
										    }
										}
						      }
						    },
						    errorElement: "em",
						    messages: {
						      captcha: {
						      	required: "请输入验证码",
						      },
						      email :{
						      	required : "请输入邮箱",
						      	email: "请输入邮箱的正确格式"
						      }
						    } 
						} 
						);
					});
					
					function sendCaptcha(){
						//判断计时器是否处于关闭状态
					    if (time == 0) {
					        time = 10; //设定间隔时间（秒）
					        //启动计时器，倒计时time秒后自动关闭计时器。
					        var index = setInterval(function(){
					            time--;
					            if (time == 0) {
					                clearInterval(index);
					            }
					        }, 1000);
						 
							$.ajax({
								url : '[(@{/user/settings/sendCaptcha})]',
								type : "POST",
								data : {
											email : function(){
												return $("#email").val();
											}
										},
								dataType: "text",
								async : false,
								success: function(e){
									alert("成功发送！");
								},
								error : function(){
									alert("获取失败请重新发送！");
									clearInterval(index);
									time = 0;
								}
							});
						}
					}
					
		</script>
		<script th:inline="javascript">
				$(function(){
					$(".two").css("background-image", "url('[(@{/images/user/backgrand.jpg})]')");
				});
		</script>
		<script th:inline="javascript">
				window.onload=function(){
					var classify = [[${classify}]];
					var indx = parseInt(classify);
					$(".manage_title").find("li").eq(indx-1).css("border-bottom","3px solid #08aba6");
				}
		</script>
</html>
