<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"	th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:inline="javascript">
				$(function(){
					$(".two").css("background-image", "url('[(@{/images/user/backgrand.jpg})]')");
				});
		</script>
		<script th:inline="javascript">
				window.onload=function(){
					var classify = [[${session.post_classify}]];
					var indx = parseInt(classify);
					$(".manage_title").find("li").eq(indx-1).css("border-bottom","3px solid #08aba6");
				}
		</script>
</head>
<body class="back">
	<div class="two_cover" style="height: 500px;"></div>
	<div class="two" style="height: 500px;" th:insert="@{base/header} :: html"></div>
	<div class="setting">
		<div class="setting_left">
			<ul>
				<li><a th:href="@{/manage/postManagement?classify=1}">贴子管理</a></li>
				<li><a th:href="@{/manage/reviewManagement?classify=1}">评论管理</a></li>
				<li><a th:href="@{/manage/resourceManagement?classify=1}">资源管理</a></li>
				<li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/manage/applyManagement?classify=1}">请求管理</a></li>
			</ul>
		</div>
		<div class="setting_right">
			<div class="manage_title">
				<ul>
					<li><a th:href="@{/manage/postManagement?classify=1}">全部</a></li>
					<li><a th:href="@{/manage/postManagement?classify=2}">回收站</a></li>
				</ul>
			</div>
			<div class="manage_content">
				<div class="comments_received" th:each="data:${page.result}">
					<div class="comments_received_details">
						<a th:href="@{/jump/post(id=${data.id},plate=${data.category})}"><p th:text="${data.title}"></p></a>
						<span>来自：</span><em th:text="${#DictUtils.getDictLabel(data.category,'post_category','')}">类别</em>
					</div>
					<div class="comments_received_times">
						<span th:text="${#dates.format(data.time,'yy-MM-dd HH:mm')}">13-9-18 15:20</span>
						<a th:if="${session.post_classify eq '1'}" th:href="@{/delete/post(id=${data.id},plate=${data.category})}" >删除</a>
					</div>
				</div>
			</div>
			<div th:replace="@{base/paging} :: html" ></div>
		</div>
	</div>
	<div th:replace="@{base/footer} :: html"></div>
</body>
</html>
