<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
		<style>
			.error{
				color:red;
				float: right;
			}
		</style>
</head>
<body class="back">
	<div class="two_cover" style="height: 500px;"></div>
	<div class="two" style="height: 500px;" th:insert="@{base/header} :: html"></div>
	<div class="setting">
			<div class="manage_content safe_content" style="margin: 0px auto;">
				<form id="commentForm" th:action="@{/user/settings/newPassword}" th:method="post" >
					<div class="field" th:if="${message} != null and ${message} != ''">
						<h1 th:text="${message}" style="color: red"></h1>
					</div>
						<div class="field">
							<label>重置密码</label> <br /> <input type="password" id="newPwd" name="newPwd"/>
						</div>
						<div class="field">
							<label>再次输入</label> <br /> <input type="password" id="newSecondPwd" name="newSecondPwd"/>
						</div>
						<div class="field" style="text-align: center;margin-top: 40px;">
							<button class="settings-button" type="submit">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
						</div>
				</form>
			</div>
			
		</div>

	<div th:replace="@{base/footer} :: html"></div>
</body>
<script th:src="@{/jquery-validation-1.19.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{/jquery-validation-1.19.0/dist/localization/messages_zh.js}"></script>
<script th:inline="javascript">
				$(function(){
					// 在键盘按下并释放及提交后验证提交表单
					  $("#commentForm").validate({
						    rules: {
						      newPwd: {
						        required: true,
						        minlength: 6
						      },
						      newSecondPwd: {
						        required: true,
						        minlength: 6,
						        equalTo: "#newPwd"
						      }
						    },
						    errorElement: "em",
						    messages: {
						      newPwd: {
						        required: "请输入修改后密码",
						        minlength: "新密码长度不能小于 6 个字母"
						      },
						      newSecondPwd: {
						        required: "请再次输入修改后密码",
						        minlength: "新密码长度不能小于 6 个字母",
						        equalTo: "两次密码输入不一致"
						      }
						    } 
						} 
						);
					});
		</script>
		<script th:inline="javascript">
				$(function(){
					$(".two").css("background-image", "url('[(@{/images/user/backgrand.jpg})]')");
				});
		</script>
		<script th:inline="javascript">
				window.onload=function(){
					var classify = [[${classify}]];
					var indx = parseInt(classify);
					$(".manage_title").find("li").eq(indx-1).css("border-bottom","3px solid #08aba6");
				}
		</script>
</html>
