<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Signin Template for Bootstrap</title>
	<!-- Bootstrap core CSS -->
	<!-- <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    Custom styles for this template
    <link href="asserts/css/signin.css" rel="stylesheet"> -->
	<!-- <link href="http://cdn.staticfile.org/highlight.js/7.3/styles/github.min.css" rel="stylesheet" type="text/css" media="all"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/simditor.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/wangEditor-fullscreen-plugin.css}"></link>
	<!--  <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/bootstrap.min.css}" /> -->


</head>

<body >


<form class="form-signin"  th:action="@{/exchangeOfLearning/save}" th:method="post" th:object="${exchangeOfLearning}">
	<div id="div1">

	</div>
	<!-- <label class="sr-only">内容</label>
    <input type="text" class="form-control" name="content" th:value="*{content}"> -->
	<div style="display:none">
		<textarea id="text1" style="width:100%; height:200px;"  name="content" th:value="*{content}"></textarea>
	</div>

	<button type="submit">cun</button>
</form>

<div class="footer">
	<ul class="pagination" id="demo1"></ul>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
<script type="text/javascript" th:src="@{/js/wangEditor-fullscreen-plugin.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var E = window.wangEditor
    var editor = new E('#div1')
    var $text1 = $('#text1')

    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(html)
    }
    editor.customConfig.uploadImgServer ='[(@{/uploadImg})]'

    /* 定义上传图片的默认名字 */
    editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0
    editor.customConfig.uploadImgTimeout = 300000
    editor.customConfig.uploadFileName = 'myFileName'
    editor.create()

    // 初始化 textarea 的值
    E.fullscreen.init('#div1');
    $text1.val(editor.txt.html())
</script>


</body>

</html>